apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: DATA+OMITTED
    server: https://34.93.109.128
  name: gke-1
contexts:
- context:
    cluster: gke-1
    user: gke-1
  name: gke-1
current-context: gke-1
kind: Config
preferences: {}
users:
- name: gke-1
  user:
    token: REDACTED