apiVersion: certificates.k8s.io/v1
kind: CertificateSigningRequest
metadata:
  name: myuser
spec:
  request: {{csr_base64.stdout}}
  signerName: kubernetes.io/kube-apiserver-client
  usages:
  - client auth